################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.wsuo
*.exe
/HangMan/.vs/HangMan/v17/.suo
*.json
